
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Try v1.2 Bootstrap Online</title>

    <script src="/scripts/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <p class="text-justify">
        <a id="back_to_top" name="back_to_top"></a>A brief history of tennis in Elm Park is set out below year by year.
        This is followed by details of members who have won honours at <a href="#Internationals">International</a>,
        <a href="#Veterans">Veteran</a> and <a href="#Underage">Underage</a> levels.
    </p>

    <h3>Club History</h3>
    <div>
        <!-- The navbar - The <a> elements are used to jump to a section in the scrollable area -->
        <nav class="navbar navbar-default navbar-static" role="navigation" id="navbar-spy">
            <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#1920s">1920's</a></li>
                    <li><a href="#1930s">1930's</a></li>
                    <li><a href="#1940s">1940's</a></li>
                    <li><a href="#1950s">1950's</a></li>
                    <li><a href="#1960s">1960's</a></li>
                    <li><a href="#1970s">1970's</a></li>
                    <li><a href="#1980s">1980's</a></li>
                    <li><a href="#1990s">1990's</a></li>
                    <li><a href="#2000s">2000's</a></li>
                    <li><a href="#2010s">2010's</a></li>
                </ul>
            </div>
        </nav>

        <div data-target="#navbar-spy" data-spy="scroll" style="height:200px; overflow:auto; position:relative" ; data-offset="0">
            <p id="1920s" class="text-justify">
                1925 - Elm Park Golf and Sports Clubs opened in 1925 for members to play golf and sports such as tennis and badminton on the site of Elm Park house at Merrion.<br />
                1926 - The four hard courts were opened in 1926.&nbsp; Six grass courts were also in play at this time.&nbsp; The tennis courts were situated where the old St. Vincent&#39;s Private hospital now stands.&nbsp; The first annual &quot;At Home&quot; club championships was held on the new hard courts on August of that year.
            </p>

            <p id="1930s" class="text-justify">
                1932 - Due to the major flooding of the river Dodder in September of 1931, many members of the Anglesea LTC in Donnybrook which had to close for major repairs joined Elm Park.&nbsp; In 1932 the ladies won the DLTC Class 3 Summer League.&nbsp; This was the clubs first inter-club honour and first pennant for the club.&nbsp;&nbsp; The Men played in the Class 1 in the Summer League for the first time which was also a major milestone for the club.<br />
                1934 - Elm Park club at Merrion closed on January 1st due to the purchase of the land for St. Vincents hospital.<br />
                1936 - The Club reopened down the road at Nutley House on 13th June.&nbsp; Four cement courts and five grass courts (front courts) were constructed for tennis that same year.<br />
                1937 - Elm Park hosted the annual Irish Hardcourt Championships for the first time in 1937.&nbsp; The mens singles was won by Raymond Egan and the ladies singles by Miss N Delaney.&nbsp; The club would go on to hold the event for the next fourteen years.<br />
                1938 - Elm Park hosted also its first open Autumn hard court tournament in September which was the first of its kind in Dublin.&nbsp; The tournament was won by the illustrious Cyril Kemp in the mens singles and by Miss Dodo Curley in the ladies singles.
            </p>

            <p id="1940s" class="text-justify">
                1943 - Due to the short supply of tennis balls due to the war, the Irish Hardcourt championships were held in the Autumn that year replacing the open Autumn hardcourt tournament.<br />
                1944 - Mens team played in DLTC Class 1 Summer league after a ten year absence.&nbsp; An open Spring and Autumn hard court championships were held though the Irish Hardcourt titles were not played for.<br />
                1946 - Ladies competed in DLTC Summer League at class 1 level for the first time.&nbsp; Elm Park now had a mens and ladies team in class 1.<br />
                1947 - Elm Park member Joe McHale received his first international cap against Yugoslavia in the Davis cup.
            </p>
        </div>
    </div>

    <h3>
        <br />
        <a id="Internationals" name="Internationals"></a>Internationals
    </h3>

    <p>
        <br />
        Elm Park has had the honour of hosting many tennis International events over the years including the first Triangular international tennis tournament between Scotland, Wales, and Ireland in 1962 which were played on the new back grass courts.
    </p>

    <p>The clubs illustrious list of Senior Tennis Internationals is as follows:</p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <p>The clubs illustrious list of other  Senior Tennis Internationals is as follows:</p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <p>The clubs illustrious list of other  Senior Tennis Internationals is as follows:</p>

</body>
</html>


