
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<p class="text-justify"><a id="back_to_top" name="back_to_top"></a>A brief history of tennis in Elm Park is set out below year by year. This is followed by details of members who have won honours at <a href="#Internationals">International</a>, <a href="#Veterans">Veteran</a> and <a href="#Underage">Underage</a> levels.</p>

<h3>Club History</h3>

<div class="container-fluid">
    <!-- The navbar - The <a> elements are used to jump to a section in the scrollable area -->
    <nav class="navbar navbar-default navbar-static" id="navbar-spy" role="navigation">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" style="display:">
                <li class="active"><a href="#1920s">1920&#39;s</a></li>
                <li><a href="#1930s" style="padding-left:0; padding-right:0;">1930&#39;s</a></li>
                <li><a href="#1940s">1940&#39;s</a></li>
                <li><a href="#1950s">1950&#39;s</a></li>
                <li><a href="#1960s">1960&#39;s</a></li>
                <li><a href="#1970s">1970&#39;s</a></li>
                <li><a href="#1980s">1980&#39;s</a></li>
                <li><a href="#1990s">1990&#39;s</a></li>
                <li><a href="#2000s">2000&#39;s</a></li>
                <li><a href="#2010s">2010&#39;s</a></li>
            </ul>
        </div>
    </nav>

    <div data-offset="0" data-spy="scroll" data-target="#navbar-spy" style="height:500px; overflow:auto; position:relative">
        <p class="text-justify" id="1920s">
            1925 - Elm Park Golf and Sports Clubs opened in 1925 for members to play golf and sports such as tennis and badminton on the site of Elm Park house at Merrion.<br />
            1926 - The four hard courts were opened in 1926.&nbsp; Six grass courts were also in play at this time.&nbsp; The tennis courts were situated where the old St. Vincent&#39;s Private hospital now stands.&nbsp; The first annual &quot;At Home&quot; club championships was held on the new hard courts on August of that year.
        </p>

        <p class="text-justify" id="1930s">
            1932 - Due to the major flooding of the river Dodder in September of 1931, many members of the Anglesea LTC in Donnybrook which had to close for major repairs joined Elm Park.&nbsp; In 1932 the ladies won the DLTC Class 3 Summer League.&nbsp; This was the clubs first inter-club honour and first pennant for the club.&nbsp;&nbsp; The Men played in the Class 1 in the Summer League for the first time which was also a major milestone for the club.<br />
            1934 - Elm Park club at Merrion closed on January 1st due to the purchase of the land for St. Vincents hospital.<br />
            1936 - The Club reopened down the road at Nutley House on 13th June.&nbsp; Four cement courts and five grass courts (front courts) were constructed for tennis that same year.<br />
            1937 - Elm Park hosted the annual Irish Hardcourt Championships for the first time in 1937.&nbsp; The mens singles was won by Raymond Egan and the ladies singles by Miss N Delaney.&nbsp; The club would go on to hold the event for the next fourteen years.<br />
            1938 - Elm Park hosted also its first open Autumn hard court tournament in September which was the first of its kind in Dublin.&nbsp; The tournament was won by the illustrious Cyril Kemp in the mens singles and by Miss Dodo Curley in the ladies singles.
        </p>

        <p class="text-justify" id="1940s">
            1943 - Due to the short supply of tennis balls due to the war, the Irish Hardcourt championships were held in the Autumn that year replacing the open Autumn hardcourt tournament.<br />
            1944 - Mens team played in DLTC Class 1 Summer league after a ten year absence.&nbsp; An open Spring and Autumn hard court championships were held though the Irish Hardcourt titles were not played for.<br />
            1946 - Ladies competed in DLTC Summer League at class 1 level for the first time.&nbsp; Elm Park now had a mens and ladies team in class 1.<br />
            1947 - Elm Park member Joe McHale received his first international cap against Yugoslavia in the Davis cup.
        </p>

        <p class="text-justify">
            1925 - Elm Park Golf and Sports Clubs opened in 1925 for members to play golf and sports such as tennis and badminton on the site of Elm Park house at Merrion.<br />
            1926 - The four hard courts were opened in 1926.&nbsp; Six grass courts were also in play at this time.&nbsp; The tennis courts were situated where the old St. Vincent&#39;s Private hospital now stands.&nbsp; The first annual &quot;At Home&quot; club championships was held on the new hard courts on August of that year.
        </p>

        <p class="text-justify">
            1932 - Due to the major flooding of the river Dodder in September of 1931, many members of the Anglesea LTC in Donnybrook which had to close for major repairs joined Elm Park.&nbsp; In 1932 the ladies won the DLTC Class 3 Summer League.&nbsp; This was the clubs first inter-club honour and first pennant for the club.&nbsp;&nbsp; The Men played in the Class 1 in the Summer League for the first time which was also a major milestone for the club.<br />
            1934 - Elm Park club at Merrion closed on January 1st due to the purchase of the land for St. Vincents hospital.<br />
            1936 - The Club reopened down the road at Nutley House on 13th June.&nbsp; Four cement courts and five grass courts (front courts) were constructed for tennis that same year.<br />
            1937 - Elm Park hosted the annual Irish Hardcourt Championships for the first time in 1937.&nbsp; The mens singles was won by Raymond Egan and the ladies singles by Miss N Delaney.&nbsp; The club would go on to hold the event for the next fourteen years.<br />
            1938 - Elm Park hosted also its first open Autumn hard court tournament in September which was the first of its kind in Dublin.&nbsp; The tournament was won by the illustrious Cyril Kemp in the mens singles and by Miss Dodo Curley in the ladies singles.
        </p>

        <p class="text-justify">
            1943 - Due to the short supply of tennis balls due to the war, the Irish Hardcourt championships were held in the Autumn that year replacing the open Autumn hardcourt tournament.<br />
            1944 - Mens team played in DLTC Class 1 Summer league after a ten year absence.&nbsp; An open Spring and Autumn hard court championships were held though the Irish Hardcourt titles were not played for.<br />
            1946 - Ladies competed in DLTC Summer League at class 1 level for the first time.&nbsp; Elm Park now had a mens and ladies team in class 1.<br />
            1947 - Elm Park member Joe McHale received his first international cap against Yugoslavia in the Davis cup.
        </p>

        <p class="text-justify">
            1950 - Elm Park member J. J. Fitzgibbon&nbsp; won his first international cap versus Wales in Dublin.&nbsp; He and his wife Mary Nichols represented Ireland many times in the fifties.<br />
            1951 - Elm Park did not enter the Summer League and this was also the last year the club hosted the Irish Hardcourt championships.<br />
            1952 - This year was the start of a rebuilding of the tennis club membership with advertisements in the national newspapers.&nbsp; Annual membership was &pound;3-3-0 at the time.
        </p>

        <p class="text-justify">
            1961 - With the closure of local club Mount Temple LTC, many members joined Elm Park including Harry Cummins and Irish international Gerry Fitzpatrick.&nbsp; Elm Park that year won the DLTC Mens Class 2,3 &amp; 4 Summer Leagues.<br />
            1962 - Five extra back grass courts were used for the Triangular international between Ireland, Scotland , and Wales.&nbsp; Club now had 14 courts (10 grass + 4 hardcourts).<br />
            1963 - The current ladies and mens hardcourt singles championship trophies were presented to Elm Park by Mount Temple LTC.&nbsp; The trophies have the winners of the Co. Dublin Intermediate Tennis Championships held at Mount Temple LTC from 1945-1951 inscribed on them.&nbsp; Unfortunately local club Mount Temple LTC was dissolved in 1961 but the names of their championship winners live on on our hardcourt championship trophies.<br />
            1964 - Niall &quot;Tucker&quot; O&#39;Riordan won his first Elm Park grasscourt mens doubles club championship with Willie Browne.&nbsp; Niall &amp; Willie would go on to be the clubs doubles champions twelve times in the 60&#39;s and 70&#39;s.&nbsp; Willie an Irish International football player also won the clubs singles championship eleven times during this period.
        </p>

        <p class="text-justify">
            1965 - Ladies won the DLTC Summer League Class 1 for the first time.<br />
            1967 - Patricia O&#39;Gorman won her first senior international cap against England in Cork in August. She also played against Scotland &amp; Walses in Scotland in September of that year.&nbsp; She won the clubs grasscourt championships six years in row from 1963-1968 inclusive before moving abroad to Germany.&nbsp; Between Patricia and her sister Annette they won the club championship from 1961-1972.<br />
            1969 - Men won the DLTC Class 1 Summer League for the first time beating UCD 5-4.&nbsp; Team was John Mulvey, Peter Ledbetter, Willie Browne, Gerry Fitzpatrick, Paddy Duffy &amp; Niall O&#39;Riordan.
        </p>

        <p class="text-justify">
            1971 - Peter Ledbetter won his first senior cap in the Triangular International between Ireland, Scotland, and Wales which was hosted by Elm Park. He was part of the Elm Park team that won back to back DLTC Summer League Class 1 titles in 1972 &amp; 1973.<br />
            1978 - Helen Lennon represented Ireland in the Ferderation cup match against Finland which was hosted by Elm Park on the grasscourts.&nbsp; She was club champion in 1978 &amp; 1980. Helen went on to become the clubs first tennis professional in 1981, and coached in the club until the early nineties.<br />
            1979 - Elm Park&#39;s late entry for the Summer League was not accepted by the DLTC causing the biggest controversy in Irish tennis for many years according to the Sunday Independent newspaper.&nbsp;&nbsp; Elm Park, one of the largest clubs in the country at the time had to sit out its ten teams.&nbsp; The teams bounced back in 1980 with the ladies winning class 1 in the Summer League for the second time.<br />
            In 1979 Elm Park hosted Banbridge TC in our inaguaral cross border event.&nbsp; The event was so popular that we have played Banbridge in the Summer alternating home and away fixtures ever since.
        </p>

        <p class="text-justify">
            1980 - Robin Gibney represented Ireland for the first time.&nbsp; He went on to win senior caps in 1980-1983.&nbsp; He went on to win the club championship seven times in the years from 1982-2007.<br />
            1981 - Ken Fitzgibbon, son of JJ and Mary who were also Irish internationals, received his first senior cap against Denmark in the Kings cup.&nbsp; Ken was also a serial winner of the club championship winning it eleven times in the years 1976-1997.<br />
            1982 - Robbie Dolan joined the list of Irish international players, playing against Finland in the Davis Cup.&nbsp; He would go on to become the clubs most capped Davis Cup player.<br />
            1985 - At the Tennis club AGM, Joe Treacy (golf captain) officially opened the new hard court (now court 1) with floodlighting.&nbsp; Club now had five hardcourts and 10 grass courts.<br />
            1987 - John Mulvey was the non playing captain in 1987 in European Nations Cup.<br />
            1988 - The Millenium Celebrity Tennis Tournament was held in aid of inner-city causes.&nbsp; Pat Lynch became the first tennis captain to become an officer of the General Committee of Elm Park.<br />
            1989 - New &quot;Desso&quot; artificial grass surface laid on hard courts 2 &amp; 3.&nbsp; The Tennis Captains&#39; honour board was unveiled in the clubhouse bar by club president Sean O&#39;Connell, surrounded by past and present Tennis Captains and Lady Tennis Capains.
        </p>

        <p class="text-justify">
            1991 - The inaugural Veterans&#39; Tournament was held for the first time in August.&nbsp; Carrickmines beat Belfast Boat club in the final and were presented with the magnificent perpetual trophy by Pat Lynch.<br />
            1993 - Two new hard courts (now courts 6 &amp; 7) with floodlighting officially opened. (These replaced two of the existing grass courts).<br />
            1994 - Sprinkler system installed on grasscourts.<br />
            1995 - New &quot;Desso&quot; artificial grass surface laid on hard court 1.&nbsp; All five hardcourts now have artificial grass surface.<br />
            1999 - New Lights - The brightness of the new lights on courts 1, 2, and 3 compared with the former lights can rightly be compared to the replacement of the &#39;Tilly&#39; lamp (paraffin lamp to anyone too young to remember) by electricity.
        </p>

        <p class="text-justify">
            2000 - Anne-Marie Hogan won her first international cap in the European Team championships.<br />
            2001 - The new omnicourt pro (courts 2 &amp; 3, 4 &amp; 5) surfaces were officially opened by Maurice Kelly (Club President).&nbsp; At the annual league dinner tributes and a presentation were made to Niall &quot;Tucker&quot; O&#39;Riordan for his contribution to inter-club league tennis over 7 decades, including the clubs first mens class 1 summer league pennant in 1969. &nbsp;<br />
            2002 - Captains Myles Cassidy &amp; Mary Briscoe became the first tennis captains to be presented with their captains&#39; blazers at the Tennis Club AGM. There has been a long standing club tradition for the golf captains to receive their blazers and the addition of the tennis captains has added a uniqueness to Elm Park tennis club.<br />
            2004 - The resurfacing of the hard courts 6&amp;7 on Monday 24th May with omnicourt pro surface.<br />
            2008 - Peter Lowther was appointed as the club&#39;s first Director of Tennis.<br />
            2009 - Jenny Claffey won her first senior international cap in the Federation cup.
        </p>

        <p class="text-justify">
            2012 - In December the two covered courts (4&amp;5) were officially openend by John Kenny (Club President), followed by an invitational mixed doubles match.&nbsp; This was the biggest capital project for the tennis club since the club was founded and all strands of Elm Park came together to make this dream a reality.<br />
            2013 - Mens&#39; first team captained by Michael Coyle won the Winter League class 2 final against TCD gaining promotion to class one.&nbsp; This was followed the following year by promotion to class one in the Summer League.&nbsp; After a twenty year absence the men were playing again at the highest level.
        </p>
    </div>
</div>
<script>
$('#1930s').click(function(e) {
    alert("hello");
     return false;
});
</script>

